langgraph~=0.2.60
langgraph-sdk
langsmith~=0.2.4
langchain-community
langchain-core~=0.3.27
langchain-openai~=0.2.13
notebook
tavily-python
langgraph-cli
langchain_anthropic
typing_extensions~=4.12.2
pydantic~=2.10.4
langchain-anthropic~=0.3.0
python-dotenv~=1.0.1
requests~=2.32.3
openai~=1.58.1
func_timeout~=4.3.5
uvicorn~=0.34.0
fastapi~=0.115.6
soupsieve~=2.6